// Place all the styles related to the admins/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* form */
.field {
  margin: 20px 0;
}

#disks > .nested-fields {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
}

/* show */
#item_disks {
  font-size: 1.2em;
}

#songs-list {
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item-wrapper {
  height: 300px;
}
