<div class="row">
  <div class="col-sm-3 hidden-xs">
    <h3>アーティスト</h3>
    <ul class="record-lists">
      <% @artists.each do |artist| %>
        <li>
          <%= link_to artist.name, users_items_path(id: artist.id, model: artist.class), remote: true %>
        </li>
      <% end %>
    </ul>
    <h3>レーベル</h3>
    <ul class="record-lists">
      <% @labels.each do |label| %>
        <li>
          <%= link_to label.name, users_items_path(id: label.id, model: label.class), remote: true %>
        </li>
      <% end %>
    </ul>
    <h3>ジャンル</h3>  
    <ul class="record-lists">
      <% @genres.each do |genre| %>
        <li>
          <%= link_to genre.name, users_items_path(id: genre.id, model: genre.class), remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-9 item-lists-box">
    <% if @items.present? %>
      <%= render 'lists', items: @items %>
    <% else %>
      <h2>検索結果はありません</h2>
    <% end %>
  </div>
</div>
