<div class="row">
  <div class="col-md-3">
    <h3>アーティスト</h3>
    <ul class="record-lists">
      <% @artists.each do |artist| %>
        <li>
          <%= link_to artist.name, users_items_path(id: artist.id, model: artist.class), remote: true %>
        </li>
      <% end %>
    </ul>
    <h3>レーベル</h3>
    <ul>
      <% @labels.each do |label| %>
        <li>
          <%= link_to label.name, users_items_path(id: label.id, model: label.class), remote: true %>
        </li>
      <% end %>
    </ul>
    <h3>ジャンル</h3>  
    <ul>
      <% @genres.each do |genre| %>
        <li>
          <%= link_to genre.name, users_items_path(id: genre.id, model: genre.class), remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9 item-lists-box">
    <%= render 'lists', items: @items %>
  </div>
</div>
