<h2>ユーザー一覧</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>氏名</th>
      <th>ステータス</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.full_name %>
        </td>
        <td>
          <%= user.status %>
        </td>
        <td>
          <%= link_to "詳細", admins_user_path(user), class: "btn btn-success" %>
        </td>
        <td>
          <%= link_to "削除", admins_user_path(user), method: :delete, data: { "confirm" => "本当に削除しますか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
