/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  background-color: #343a40;
  color: #fff;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

/* artist, genre, labelのindex */
.index-wrapper > table {
  width: 100%;
}

.index-wrapper tr {
  border-bottom: 1px solid #eee;
  height: 90px;
  font-size: 1.3em;
}

