// Place all the styles related to the users/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unsubscribe {
  height: 600px;
  text-align: center;
  padding-top: 50px;
}

.unsubscribe > a {
  display: inline-block;
  font-size: 2em;
  padding: 50px 20px;
}
