<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <ul>
        <li><%= flash[:error] %></li>
    </ul>
  </div>
<% end %>
