<% if object&.errors&.any? || flash[:error] || flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <% if object&.errors&.any? %>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash %>
      <ul>
        <% flash.each do |key, value| %>
          <li><%= value %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
