<% resource = user_signed_in? ? :users : user %>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <!-- タブ・メニュー -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#sampleContentA" data-toggle="tab">ユーザー詳細</a></li>
      <li><a href="#sampleContentB" data-toggle="tab">登録住所一覧</a></li>
      <li><a href="#sampleContentC" data-toggle="tab">購入履歴一覧</a></li>
    </ul>

    <!-- タブ内容 -->
    <div class="tab-content">
      <div class="tab-pane active" id="sampleContentA"> <!-- ユーザー詳細 -->
        <%= render 'layouts/user_info', namespace: namespace, user: user, resource: resource %>
      </div>
      <div class="tab-pane" id="sampleContentB"> <!-- 登録住所一覧 -->
        <%= render 'layouts/addresses_index', namespace: namespace, addresses: user.addresses %>
      </div>
      <div class="tab-pane" id="sampleContentC"> <!-- 購入履歴一覧 -->
        <p>タブＣの内容</p>
      </div>
    </div>
  </div>
</div>
